@model Invoice.Models.Invoices
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Invoices</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="InvoiceNumber" class="control-label"></label>
                <input asp-for="InvoiceNumber" class="form-control" />
                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Customers</label>
                <select asp-for="CustomerId" id="customer" class="form-control">
                    <option selected="true" disabled="disabled">Choose Customer</option>
                </select><br />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projectname" class="control-label"></label>
                <input asp-for="Projectname" class="form-control" />
                <span asp-validation-for="Projectname" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paymentstatus" /> @Html.DisplayNameFor(model => model.Paymentstatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Taxamount" class="control-label"></label>
                <input asp-for="Taxamount" class="form-control" />
                <span asp-validation-for="Taxamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalamount" class="control-label"></label>
                <input asp-for="Totalamount" class="form-control" />
                <span asp-validation-for="Totalamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Netamount" class="control-label"></label>
                <input asp-for="Netamount" class="form-control" />
                <span asp-validation-for="Netamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script>
        $(document).ready(() => {
            $.ajax({
                type: "Get",
                url: "/Admin/Invoice/GetAllCustomer",
                success: function (responce) {
                    for (let f of responce) {
                        $("#customer").append(`<option value=${f.id}>${f.name}</option>`)
                    }

                }
            });
        });
    </script>
}

