@model Invoice.Models.Invoices
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Invoices</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="InvoiceNumber" class="control-label"></label>
                <input asp-for="InvoiceNumber" class="form-control" />
                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projectname" class="control-label"></label>
                <input asp-for="Projectname" class="form-control" />
                <span asp-validation-for="Projectname" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paymentstatus" /> @Html.DisplayNameFor(model => model.Paymentstatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Taxamount" class="control-label"></label>
                <input asp-for="Taxamount" class="form-control" />
                <span asp-validation-for="Taxamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalamount" class="control-label"></label>
                <input asp-for="Totalamount" class="form-control" />
                <span asp-validation-for="Totalamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Netamount" class="control-label"></label>
                <input asp-for="Netamount" class="form-control" />
                <span asp-validation-for="Netamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
